* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  text-transform: uppercase;
  width: 72%;
  margin: 200px auto;
  text-align: center;
  background-color: rgb(236, 146, 146);
}
#title {
  margin-top: -136px;
  margin-bottom: 60px;
}

input[type="color"] {
  border: none;
  outline: none;
  background-color: white;
  width: 40px;
  height: 40px;
  transform: translateY(13px);
}

.main-box {
  width: 100px;
  height: 100px;
  background-color: #ab2567;
  border: 3px solid black;
  margin: 64px auto;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.box {
  width: 100px;
  height: 100px;
  background-color: #ab2567;
  margin: 46px auto;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container {
  background-color: rgb(246, 243, 243);
  width: 240px;
  height: 330px;
  margin-left: 10px;
  margin-right: auto;
}

label {
  font-size: 20px;
}

p {
  font-size: 16px;
  font-weight: bold;
}
.palette {
  margin-top: -13px;
  text-align: left;
  margin-left: 10px;
  margin-bottom: 55px;
}

#selectLabel {
  margin-top: -64px;
  margin-left: -452px;
  text-align: left;
}
select {
  appearance: none;
  background-color: white;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  padding: 8px;
  color: black;
  transform: translateY(-5px);
}

#booooox {
  display: flex;
}
